@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

.navbar-inverse {
    background-color: #5E35B1;
    border-color: #080808;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #7E57C2;
}